:root {
    --main-fg-color: #A11B29;
    --font-color: #e7d62d;
    --main-bg-color: #FFFFFF
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    gap:1em;
    margin: 1em auto 1em auto;
    grid-template-areas: "header" "navigation" "content" "footer";
}

@font-face {
    font-family: 'DF郭泰碑W4'; /* Nom personnalisé de la font */
    src: url('./font/dfkth4.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DF郭泰碑W4', sans-serif;
}


header {
    display: grid;
    grid-area: header;
    /* margin-top: 1em; */
    background-color: var(--main-fg-color);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
    margin-bottom: -0.5em;
}

.fumoLogo {
    display: flex;
    align-items: center;
    gap:0.5em
}

.fumoLogo a img {
    width: 6em;
    height: auto;
}

.fumoLogo p {
    font-size: 4em;
    color: var(--font-color)
}

.navigation {
    display: grid;
    grid-area: navigation;
}

.about {
    display: grid;
    grid-area: content;
    overflow: visible;
    width: 90%;
    margin: 1em auto 1em auto;
    text-align: justify;
}